@CHARSET 'UTF-8';
.mdl-layout-title a {
  color : #ffffff;
  text-decoration : none;
}

.mdl-layout__header-row .mdl-navigation__link {
  opacity : 0.96 !important;
}

section.section--center {
  max-width : 620px;
}

section {
  margin-bottom : 72px !important;
}

.section-container {
  padding : 40px 0;
  max-width : 1044px;
  margin-left : auto;
  margin-right : auto;
}

.section-title {
  margin-left : 12px;
  padding-bottom : 24px;
  font-size : 34px;
  opacity : 0.54;
}
