<!DOCTYPE html>
<html>
<head>
<%- include('../common/_head', {root:'../'}); %>
<title>愛知工業大学 システム工学研究会-Production-</title>
<link rel="stylesheet" href="../css/production.css">
</head>
<body class="mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%- include('../common/_header', {root:'../'}); %>
    <%- include('../common/_drawer', {root:'../'}); %>
    <main class="mdl-layout__content">

    <div class="section-container production-section">
      <div class="section-title production-section-title">作品一覧</div>
    </div>

    <%- include('../common/_footer', {root:'../'}); %>
    </main>
  </div>

</body>
</html>