<!DOCTYPE html>
<html>
<head>
<%- include('../common/_head', {root:'../'}); %>
<title>愛知工業大学 システム工学研究会-アクセス-</title>
<link rel="stylesheet" href="../css/access.css">
</head>
<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
    <%- include('../common/_header', {root:'../'}); %>
    <%- include('../common/_drawer', {root:'../'}); %>
    <main class="mdl-layout__content"> 
    
    <section id="access" class="section--center mdl-grid mdl-grid--no-spacing">
       <div class="mdl-cell mdl-cell--12-col">
          <h4>アクセス・連絡先</h4>
            <h5>活動場所</h5>
            <address>愛知工業大学 八草キャンパス 4号館別館310</address>
            <iframe id='google-map' src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3260.8903612911436!2d137.1138788!3d35.1842851!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8dd4ff9bff0cfb7e!2z77yU5Y-36aSo5Yil6aSo!5e0!3m2!1sja!2sjp!4v1476526184795" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <h5>公式連絡先</h5>
            <address>sysken@aitech.ac.jp</address>
            
       </div>
    </section>
    
    <%- include('../common/_footer', {root:'../'}); %>
    </main>
  </div>

</body>
</html>