<!DOCTYPE html>
<html>
<head>
<%- include('../common/_head', {root:'../'}); %>
<title>愛知工業大学 システム工学研究会-アクセス-</title>
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%- include('../common/_header', {root:'../'}); %>
    <%- include('../common/_drawer', {root:'../'}); %>
    <main class="mdl-layout__content"> 
    
    <div class="mdl-card mdl-shadow--2dp">
    aaa
    </div>
    
    <%- include('../common/_footer', {root:'../'}); %>
    </main>
  </div>

</body>
</html>