<a class="mdl-navigation__link" href="<%- root %>about/about.html">About</a>
<a class="mdl-navigation__link" href="">ブログ</a>
<a class="mdl-navigation__link" href="">作品</a>
<a class="mdl-navigation__link" href="<%- root %>access/access.html">アクセス</a>
<a class="mdl-navigation__link" target="_blank" href="https://github.com/SystemEngineeringTeam">Github</a>
<a class="mdl-navigation__link" target="_blank" href="https://twitter.com/set_official">Twitter</a>