<footer id="footer"  class="mdl-mega-footer">
    <div class="mdl-mega-footer--middle-section">
        <p class="mdl-typography--font-light">© 2016 愛知工業大学 システム工学研究会 All Rights Reserved.</p>
    </div>
</footer>