<header class="mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title"><a href="<%- root %>index.html">システム工学研究会</a></span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <%- include('./_commonNavigation', {'root':root}); %>
    </nav>
  </div>
</header>