<!DOCTYPE html>
<html>
<head>
<%- include('./common/_head'); %>
<link rel="stylesheet" href="./css/index.css">
<title>システム工学研究会</title>
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%- include('./common/_header'); %>
    <%- include('./common/_drawer'); %>
    <main class="mdl-layout__content">
	
      

    </main>
  </div>

</body>
</html>