<div class="swiper-height-wrapper">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img alt="たこパ" src="./images/index/tako.jpg"></div>
<!--       <div class="swiper-slide"><span>サークル総会の様子</span><img alt="古い総会" src="./images/index/soukai.jpg"></div> -->
      <div class="swiper-slide"><img alt="紙SNS" src="./images/index/kamiS.jpg"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>